@using Brigita.View.Products
@model ProductTeaser
<div class="productTeaser">    
    @if(Model.Image != null) {
        <img src="@Url.Content(Model.Image.Url)" />
    }
    <a href="@Url.MvcLink(Model.Link)"><h3>@Model.Name</h3></a>
</div>