<#@ include file="$(SolutionDir)Brigita.DtoGen\DtoGen.tt" once="true" #>
<#@ assembly name="$(SolutionDir)Brigita.Dom\bin\$(ConfigurationName)\Brigita.Dom.dll" #>
<#@ import namespace="Brigita.Dom.Categories" #>
<#  GenerateDto<ICategory>(
					"Brigita.Dom.Services.Categories.Category", 
					new[] { "System" }); #>