<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="AutofacContrib.NSubstitute" version="3.3.5" targetFramework="net451" />
  <package id="AutoFixture" version="3.20.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.1" targetFramework="net451" />
  <package id="FluentAssertions" version="3.4.1" targetFramework="net451" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net451" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net451" />
  <package id="Sequences" version="1.0.1" targetFramework="net451" />
  <package id="TestStack.Dossier" version="3.1.1" targetFramework="net451" />
</packages>