<#@ include file="$(SolutionDir)Brigita.Domain\Dtos\DtoGen.tt" once="true" #>
<#@ import namespace="Brigita.Domain.Products" #>
<#  GenerateDto<IProduct>(
					"Product", 
					"Brigita.Services.Products", 
					new[] { "System" }); #>