<#@ include file="$(SolutionDir)Brigita.DtoGen\DtoGen.tt" once="true" #>
<#@ assembly name="$(SolutionDir)Brigita.Domain\bin\$(ConfigurationName)\Brigita.Domain.dll" #>
<#@ import namespace="Brigita.Domain.Products" #>
<#  GenerateDto<IProduct>(
					"Product", 
					"Brigita.Services.Products", 
					new[] { "System" }); #>