body {
    /*****/
}

ul#categoryMenu a.active {
    font-weight: bold;
    font-style: italic;
}

ul#categoryMenu a.activeParent {
    font-weight: bold;
}

div#mainCentre {
    width: 100%;
    background-color: pink;
}

div.productTeaser {
    float: left;
    width: 180px;
    border: 2px solid brown;
    height: 240px;
}

ul.itemList li {
    float: left;
    display: block;
    list-style: none;
}