@model IWebPageModel
@{ 
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div>
    <div id="header">
        <div id="headerLeft">
            #headerLeft
        </div>

        <div id="headerCentre">
            #headerCentre
        </div>

        <div id="headerRight">
            #headerRight
        </div>
    </div>

    <div id="bar">
        <div id="barLeft">
            #barLeft
        </div>

        <div id="barCentre">
            #barCentre
        </div>

        <div id="barRight">
            #barRight
        </div>
    </div>

    <div id="main">
        <div id="mainLeft">
            @{Html.RenderAction(
                        "CategoryMenu", 
                        "Menu", 
                        new { activeCatID = Model is IProductContextModel 
                                                ? ((IProductContextModel)Model).CurrentCategoryID
                                                : 0 }
                        );}

            @RenderSection("leftSide")
        </div>

        <div id="mainCentre">
            @RenderBody()
        </div>

        <div id="mainRight">
            @RenderSection("rightSide")
        </div>
    </div>

    <div id="footer">
        #footer
    </div>
</div>
