<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brigitas Bodite - @Title</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="@*@Model.FaviconURL*@" />
    @*@if(Model.DisplayProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }*@
    @foreach(var cssFile in CssFiles) {
        <link rel="stylesheet" href="@cssFile" />
    }
</head>
<body>
    @RenderBody()
</body>
</html>
