<#@ include file="$(SolutionDir)Brigita.DtoGen\DtoGen.tt" once="true" #>
<#@ assembly name="$(SolutionDir)Brigita.Domain\bin\$(ConfigurationName)\Brigita.Domain.dll" #>
<#@ import namespace="Brigita.Domain.Categories" #>
<#  GenerateDto<ICategory>(
					"Brigita.Services.Categories.Category", 
					new[] { "System" }); #>